.app-navbar, .app-navbar .nav-link{
    background-color: #212121;
    color: #FAFAFA;
}

.app-register-complaint-form{
    border-style: inset;
    border-color: #212121;
}

.app-register-complaint-form textarea{
    resize: none;
}